name: Java CI
# 触发脚本的事件  这里为push代码之后触发
on: [push]
# 定义一个发行任务
jobs:
  build:
    # 任务运行的环境
    runs-on: ubuntu-latest
    # 任务的步骤
    steps:
      # 1. 声明 checkout 仓库代码到工作区
    - uses: actions/checkout@v2
      # 2. 安装Java 环境 这里会用到的参数就是 Git Action secrets中配置的，
    - name: Set up JDK 1.11
      uses: actions/setup-java@v1
      with:
        java-version: 1.11
      # 3.编译打包
    - name: Build with Maven
      run: mvn -B package --file pom.xml
